* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: white;

}

h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 45px;

}

label {
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 15px;

}

input[type="submit"] {
    background: rgba(165, 42, 42, 0.37);

}

.error {
    color: red;
}

.error-border {
    box-shadow: 1px solid red;
}

#supper {
    color: aqua;
}
#nav{
  width: 100%;
}
nav{
 
  width: 100%;
  height: 60px;
  background-color: rgb(99, 7, 7);
  display: flex;
  flex-direction: row;
 
}
#logo{
  text-decoration: none;
  color: white;
  font-size: 35px;
  margin-top: 2px;
  margin-left: 10px;
}
#logo:hover{
 text-shadow: 1px 1px 10px rgb(233, 210, 121);
 transition: 0.15s;
}
#nav nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}
#nav nav ul li{
  list-style: none;
  margin: 30px;
 
}
#nav nav ul li a{
   text-decoration: none;
   color: white;
   font-size: 25px;
}
#nav nav ul li a:hover{
  text-shadow: 2px 2px 15px white;
}